* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.header>button {
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    border: solid black;
    cursor: pointer;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    margin-top: 10px;
}

.navbar>a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(239 68 68);
    padding: 10px;
}

.banner {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.banner>h1 {
    font-size: 40px;
}

.social-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px 0 200px;
    margin: 20px 0;
}

.social {
    height: 30px;
    width: 30px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(239 68 68);
}

.social-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.hero-image>img {
    width: 800px;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 200px 0 200px;
}

.body-content-top>p {
    margin-left: 20px;
}

.body-content-bottom>p {
    margin-left: 20px;
}

.list-content {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 30px 200px 0 200px;
    padding: 20px;
    border: solid 1px black;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li>a {
    text-decoration: none;
    color: rgb(239 68 68);
}

.footer {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.534);
}

a>img {
    width: 150px;
}